body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 9%;

    z-index: 1000;
    background-color: rgb(72, 74, 72);
    /* Asigură vizibilitatea peste conținut */
}


html,
body {
    overflow-x: hidden;
    /* Previne scroll-ul orizontal */
    overflow-y: auto;
    /* Asigură scroll-ul vertical */
    margin: 0;
    padding: 0;
}

.header-content {
    display: flex;
    padding-top: 14px;
    padding-bottom: 24px;
    padding-left: 50px;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;

}


.logo {
    width: 40px;
    height: auto;
}

h1 {
    margin: 0;
    flex: 1;
    text-align: center;
}

nav {
    display: flex;
    align-items: center;

}

a nav {
    padding-right: 50px;
}

.menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
}

.menu-links {
    display: flex;
    align-items: center;
}

.meniu-link {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    display: inline-block;
}

.meniu-link:hover {
    text-decoration: underline;
}

main {
    position: relative;
    height: 100%;
    /* Asigură că main acoperă întregul ecran */
    overflow: hidden;
    padding-top: 50px;


}

section {
    min-height: 100vh;
}


#sectiune-despre {
    padding: 3px;
    overflow: visible;
    /* Asigură-te că overflow nu ascunde conținutul */
    font-family: 'Roboto', sans-serif;
    text-align: center;

}

#sectiune-acasa {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Înălțimea secțiunii poate fi ajustată */
    overflow: hidden;
}

h2 {
    margin-top: 3rem;
    /* Adaugă spațiu deasupra titlului */
    margin-bottom: 1.5rem;
    /* Spațiu sub titlu */
    text-align: center;
    /* Aliniază titlul pe centru */
    font-size: 2rem;
    /* Ajustează dimensiunea fontului dacă este necesar */
    color: #333;
    /* Culoare pentru titlu */
}

.container-imagine {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imagine-piese{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* Efect de întunecare */
    text-align: center;
    /* Centrare text */
}

.text-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.text-overlay h1 {
    margin: 0 0 7rem 0;
    /* Margine sub titlu */
    font-size: 2rem;
    /* Ajustează dimensiunea titlului */
}

.buton-exploreaza {
    background-color: #e7d616;
    color: rgb(14, 14, 14);
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.buton-exploreaza:hover {
    background-color: #f7f7f7;
}


h1,
h2,
h3 {
    text-align: center;

}

p {
    margin: 20px;
}

.container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-direction: row;
    /* Asigură alinierea pe orizontală */
    overflow: auto;
}

.icon {
    font-size: 2rem;
    margin-right: 0.5rem;
    margin-left: 2rem;
    color: #4CAF50;
}


.text h3 {
    margin: 0;
    font-size: 1.5rem;
}

ul {
    list-style-type: disc;
    margin-left: 1.5rem;
}

.noutati {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7px;
    padding: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.media-container {
    flex: 1;
    max-width: 40%;
    min-width: 300px;
    margin-right: 1rem;
}

.media-container img,
.media-container iframe {
    width: 100%;
    border-radius: 8px;
}

.text-container {
    margin-top: 20px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-container h3 {
    margin-top: 0;
}

.text-container p {
    margin: 0;
    line-height: 1.5;
}

footer {
    background-color: #222523;
    color: white;
    text-align: center;
    padding: 1rem;
    position: static;
    bottom: 0;
    width: 100%;
}

.contact-container {
    display: flex;
    justify-content: center;
    /* Centrarea pe orizontală */
    align-items: flex-start;
    /* Alinierea la începutul containerului */
    gap: 2rem;
    flex-wrap: wrap;
    max-width: 900px;
    /* Dimensiune maximă pentru întregul container */
    margin: 0 auto;
    /* Centrarea pe pagină */
}

.left-side,
.map-container {
    flex: 1;
    min-width: 300px;
    max-width: 450px;
    /* Dimensiune maximă pentru fiecare div */
}

.contact-form {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-group input,
textarea {
    margin-top: 12px;
    width: 100%;
    border-radius: 5px;
    padding: 3px;
}

textarea {
    size: none;
}

.map-container {
    height: 350px;
}

.map-container iframe {
    width: 500px;
    height: 430px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    color: #090909;
    font: bold;
    border-radius: 5px;
    padding: 7px;
    margin-top: 2px;
}

button:hover {
    background-color: #141614;
    color: azure
}

@media (max-width: 600px) {
    header {
        height: 8%;
    }

    .menu-icon {
        display: block;
    }

    .menu-links {
        display: none;
        flex-direction: column;
        align-items: center;
        background-color: #4CAF50;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .meniu-link {
        display: block;
        margin: 1rem 0;

    }

    h2 {
        margin-top: 25px;
    }

    #sectiune-acasa {
        min-height: 80dvh;
    }

    .text-overlay h1 {
        font-size: 1.5rem;
        /* Ajustează dimensiunea titlului pe ecrane mici */
    }

    .buton-exploreaza {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
    }


    .container {
        flex-direction: row;
        /* Asigură alinierea pe orizontală pe ecrane mici */
        justify-content: left;
        /* Aliniere la începutul rândului */
        text-align: left;
    }

    .icon {
        margin-right: 0.5rem;
        /* Reduce spațiul între icon și text */
        margin-left: 0.5rem;
    }



    .text h3 {
        font-size: 1.2rem;
        /* Diminuează dimensiunea fontului pentru titlu */
    }


    .header-content {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding-top: 5px;
        padding-left: 0;
       
    }


    .logo {
        max-width: 30px;
    }

    .noutati{
        flex-direction: column;
    }

    .media-container {
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .text-container {
        max-width: 100%;
    }

    .contact-container {
        flex-direction: column;
        max-width: 100%;
        /* Asigură că se ajustează complet la ecrane mici */
        padding: 0 1rem;
        /* Adaugă un mic padding lateral */
    }

    .map-container iframe {
        height: 296px;
        width: 355px;
    }


    /* Footer fix */
    footer {
        background-color: #2e302e;
        color: white;
        text-align: center;
        padding: 1rem;
        position: relative;
        margin-top: 2rem;

    }

}